#   If you are looking for a __pycache__/ ignore, it's not here.
#   You should set $PYTHONPYCACHEPREFIX not to use source dirs for caching.

/.build/
/tmp/

#   setuptools output files.
/t8dev/psrc/t8dev.egg-info/
/r8format/psrc/r8format.egg-info/

#   developer stuff
/tmp/
/tags
